html {
    box-sizing: border-box;
}

*, *:before, * :after {
    box-sizing: inherit;
}

.hero, .footer {
    background-color: #1F2937 ;
}

body {
    margin: 0px;
}

.description h1 {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: bolder;
}

.description p, .hero-button {
    font-size: 18px;
    color: #E5E7EB;
}

.header {
    font-size: 24px;
    color: #F9FAF8;
    display: flex;
    justify-content: center;
    align-items: center;
}

.links {
    display: flex;
    gap: 25px;
    margin-left: 175px;
}

a {
    text-decoration: none;
}

.under-header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 100px;
}

.under-header img {
    margin-left: 200px;
}

.content {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.content .info h1 {
    text-align: center;
}

.photos {
    display: flex;
    width: 600px;
    gap: 30px;
}

.info h1 {
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
}

button, .box {
    background-color: #3882F6;
}

.quote {
    background-color: #E5E7EB;
}

.quote-text {
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
}